<ul>
  {{#each}}
    {{#link-to 'dinner.index' this tagName="li"}}
      <h2>{{formattedDate date}}</h2>
      <p>{{notes}}</p>
    {{/link-to}}
  {{/each}}
</ul>

{{view Challah.DinnersNewView model=newDinner}}
